.customers {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.customer {
  padding: 1rem 0;
  margin: .5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background-color: #794bc4;
  color: white;
  font-size: 1rem;
}


